#outer {
	position:fixed;
	background-color: black;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#inner {
	width: 50%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	background-color: black;
}

img.front-page {
	margin-top: 20%;
	width: 50%;
}

a.front-image:hover {


}

img.front-page {
   position:fixed;
   /*element can move on the screen (only screen, not page)*/

   left: 50%;
   top: 10%;
   min-width: 100px;
   max-width: 300px;
   /*set the top left corner of the element on the center of the screen*/

   transform:translate(-50%,-50%);}
   /*reposition element center with screen center*/

}