h1{
    font-size: 40px;
    color: white;
    text-align: center;
}
h2{
    font-size: 25px;
    color: white;
    text-align: center;
}
#content1{
    height: auto;
    width: auto;
}
#content2{
    height: auto;
    width: auto;
}
#content3{
    height: auto;
    width: auto;
}

.image img {

   width: 100%;


}

.portfolio {

   display: grid;


   grid-template: auto auto auto / 1fr 1fr 1fr;


   grid-column-gap: 20px;


   grid-row-gap: 10px;


   padding-top: 40px;


}
